#recover:target {
  display: block;
}
#recover:target ~ #login {
  display: none;
}
.account__header {
  margin-block-end: calc(var(--spacing) * 4);
}
.address {
  border-block-start: 1px solid var(--color-divider);
  padding-block: 32px;
  padding-inline: 0;
}
tfoot tr:last-child .t-td:before {
  color: var(--color-normal-text);
}
.bill-address {
  border-block-end: 1px solid var(--color-divider);
}
.customer-order .s-content > p {
  padding-block-end: calc(var(--spacing) * 4);
  margin: 0;
  color: var(--color-light-text);
}
.customer-order table tfoot tr {
  border: none;
}
@media (max-width: 768px) {
  .t-tr {
    border-block-start: 1px solid var(--color-divider);
    border-bottom: none;
    display: block;
  }
  .t-td {
    display: flex;
    justify-content: space-between;
  }
  .t-td:before {
    content: attr(data-name);
    color: var(--color-light-text);
    margin-inline-end: 20px;
  }
  th,
  td {
    padding-block: 8px;
    padding-inline: 0px;
  }
  .t-thead {
    display: none;
  }
  .customer-order tfoot .t-td:first-of-type {
    display: none;
  }
  .customer-order tbody tr:last-child {
    padding-block-end: 16px;
    border-block-end: 1px solid var(--color-divider);
    margin-block-end: 16px;
  }
  .customer-order tfoot .tf-tr:last-child {
    border-block-end: 1px solid var(--color-divider);
    padding-block-end: 24px;
    display: block;
  }
  .customer-order__position {
    text-align: end;
  }
  .account__header {
    margin-block-end: 0;
  }
}
@media (min-width: 769px) {
  .t-tr {
    border-block-end: 1px solid var(--color-divider);
  }
  .account-adress .address {
    padding-block: 48px;
    padding-inline: 0;
  }
  .customer-order tfoot .tf-tr:first-child .t-td {
    padding-block-start: 32px;
  }
}
