.password-wrapper .modal-dialog__content__header {
  background: var(--gradient-background);
}
.password__logo img.logo {
  max-width: var(--logo-width-mobile);
  height: auto;
}
.password-modal[open] .modal {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.password-modal .modal {
  background: rgba(0, 0, 0, 0.65);
}
.password-modal__content {
  color: rgb(var(--color-normal-text-rgb))
}
.modal-dialog__content__header button {
  padding: 10px;
}
.password__footer {
  padding-inline-start: calc(var(--gutter-container));
  padding-inline-end: calc(var(--gutter-container));
}
.password__footer-text a {
  padding: 0;
}
.password__admin-account a,
.password__admin-link .modal__toggle-open {
  padding: 0;
  color: inherit;
}
.password_form input[type=password],
.password__admin-account a:hover {
  color: inherit;
}
.modal__toggle-open:hover {
  color: inherit !important;
}
@media (min-width: 459px) {
  .password__logo img.logo {
    max-width: var(--logo-width-desktop);
  }
  .password .contact__item {
    padding-inline-end: 12px;
    padding-inline-start: 12px;
  }
  .modal-dialog__body input {
    margin-block-end: 0;
    margin-inline-end: 16px;
  }
}
@media (min-width: 1025px) {
  .password__footer {
    font-size: 16px;
    padding-block-start: 36px;
    padding-block-end: 36px;
  }
  .password__admin-login,
  .password__footer-left {
    margin-block-end: 0;
  }
  .modal__toggle-open{
    margin-inline-end: 48px;
    font-size: 16px;
  }
}